<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic Layout - jQuery EasyUI Demo</title>
    


</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:70px;background:#B3DFDA;padding:10px">
        <div class="index-head">
            <div class="index-head-left" style="text-align:left;height: auto">
                会所首页
            </div>

            <div class="index-head-right" style="right: 65%;text-align: right">
                <label style="color:white"> </label>
                <label style="color:red">【11】</label>
                &nbsp;
                <a href="javascript:void(0)" id="mb_personCenter" class="easyui-menubutton"
                   data-options="menu:'#mm_personCenterMenu'"><span style="color: blue;">【个人中心】</span></a>
                <div id="mm_personCenterMenu" style="width:150px;">
                    <div id="1" data-options="iconCls:'icon-save'">账号管理</div>
                    <div class="menu-sep"></div>

                    <div id="5" data-options="iconCls:'icon-help'">关于</div>

                </div>
                &nbsp;
                <a href="/webpark/" onclick="exit()" title="注销">【注销】</a>
            </div>
        </div>
        
    </div>
    <div data-options="region:'west',split:true,title:'花式项目'" style="width:150px;padding:10px;background: #00CCFF">
        <div class="nav-main" >
            <div class="nav-box">
            </div>
            <div class="nav" >
                <!--style="list-style: none" 去除ul,li标签样式列表的点-->
                <ul class="nav-ul" style="list-style: none">
                    <li id="index_li_id_0">
                        <a href="#" class="develop">
                            <span>
                                <img src="/images/true.jpg" style="width:50px;height:50px" >
                                <br>运行状态<br>
                            </span>
                        </a>
                    </li>
                    <li id="index_li_id_1">
                        <a href="#" class="develop">
                            <span>
                                <img src="/images/true.jpg" style="width:50px;height:50px" >
                                <br>布局安排<br>
                            </span>
                        </a>
                    </li>
                    <li id="index_li_id_2">
                        <a href="#" class="develop">
                            <span>
                                <img src="/images/true.jpg" style="width:50px;height:50px" >
                                <br>用户管理<br>
                            </span>
                        </a>
                    </li>
                    <li id="index_li_id_3">
                        <a href="#" class="develop">
                            <span>
                                <img src="/images/true1.jpg" style="width:50px;height:50px" >
                                <br>安全守则<br>
                            </span>
                        </a>
                    </li>
                </ul>

            </div>


        </div>
    </div>
    
    <!--<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">
        东边1111
    </div>-->
    
    <!-- 底部 -->
    <div id="index_footer" data-options="region:'south'" style="height:23px;padding: 0px;" align="right">
        <font>©2019 陌上花开娱乐有限公司</font>
    </div>
    <div region="center" title="center">
        <div class="easyui-tabs" fit="true" border="false" id="tabs">
            <div title="首页"></div>
        </div>
    </div>


    <!--注意jquery核心库要放在easyui核心库前面引入，不然jquery.easyui.min.js中会报错：jQuery is not defined-->
    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <script type="text/javascript" src="easyui/jquery.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
</body>
</html>