<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>测试页面</title>
    <title>Basic Layout - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" th:href="@{easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{ztree/css/demo.css}">
    <script type="text/javascript" th:src="@{js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{easyui/jquery.easyui.min.js}"></script>

</head>

<body>

<!--<div style="margin:20px 0;"></div>-->
<div class="easyui-layout" style="height: 720px;width: 1530px">
    <div data-options="region:'north'" style="height: 5%" >
        金龙洗浴中心管理平台
    </div>
    <div id="index_footer" data-options="region:'south'" style="height:23px;padding: 0px;" align="right">
        <font>©2019 陌上花开娱乐有限公司</font>
    </div>
    
    <div data-options="region:'west',split:true" title="West" style="width: 10%">
        <ul class="easyui-tree">
            <li>
                <span>用户功能页</span>
                <ul>
                    <li data-options="state:'open'" style="height: 100px">
                        
                        <span><img th:src="@{images/contacts.svg}" style="height: 50px;width: 50px">pthoto</span>
                        <ul>
                            <li>
                                <span>Friend</span>
                                
                            </li>
                            <li>
                                <span>Wife</span>
                            </li>
                            <li>
                                <span>Company</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>Program Files</span>
                        <ul>
                            <li>Intel</li>
                            <li>Java</li>
                            <li>Microsoft Office</li>
                            <li>Games</li>
                        </ul>
                    </li>
                    <li>index.html</li>
                    <li>about.html</li>
                    <li>welcome.html</li>
                </ul>
            </li>
        </ul>
    </div>
    <div region="center" title="欢迎使用本系统">
        <div class="easyui-tabs" fit="true" border="false" id="tabs">
            <div title="首页">
                

            </div>
        </div>
    </div>
</div>

</body>

</html>