<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic Layout Demo</title>
    <!--注意jquery核心库要放在easyui核心库前面引入，不然jquery.easyui.min.js中会报错：jQuery is not defined-->
    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <script type="text/javascript" src="easyui/jquery.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>


</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">
        管理界面
    </div>

    <div data-options="region:'west',split:true,title:'West'" style="width:150px;padding:10px;">
        目录
    </div>

    <div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">
        备注
    </div>

    <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">
        测试页面
    </div>

    <div data-options="region:'center',title:'Center'" id="center">
        <button onclick="full()">全屏</button>
        <button onclick="unFull()">取消全屏</button>
    </div>
</body>
</html>